<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Welcome to my Node.js Realtime Chat application!</title>
  <style>
    #chat > div:nth-child(even) {
      background-color: #f2f2f2
    }
  </style>
</head>
<body style="display: none">
  <h1 id="welcome-title"></h1>
  <hr>
  Users connected: <span id="users-connected"></span>
  <hr>
  <button type="button" id="btn-change-name">change name</button>
  <hr>
    <input type="text" id="message">
    <button type="button" id="btn-send-message">send</button>
  <hr>
  <p id="chat"></p>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.slim.js"></script>
  <script>
    const socket = io()
    const name = getName()

    if (!name) {
      askForName(true)
    }

    setWelcomeTitle()

    document.body.style.display = ''

    document.querySelector('#btn-change-name').addEventListener('click', (e) => {
      askForName(false)
    })

    document.querySelector('#btn-send-message').addEventListener('click', (e) => {
      sendMessage()
    })

    document.querySelector('#message').addEventListener('keydown', (e) => {
      if (e.keyCode == 13 || e.which == 13 || e.key == 13) {
        sendMessage()
      }
    })

    socket.on('chat message', message => {
      let chat = document.querySelector('#chat')
      let firstChild = document.querySelector('#chat > div:first-child')
      let element = document.createElement('div')
      element.textContent = message

      chat.insertBefore(element, firstChild)
    })

    function sendMessage () {
      const input = document.querySelector('#message')
      const message = input.value

      if (message.length > 0) {
        socket.emit('chat message', `${getName()}: ${message}`)

        input.value = null
      }

      input.focus()
    }

    function askForName (isInit) {
      const name = window.prompt('Type your name...')

      if ((isInit && name === null) || name.length < 3) {
        return askForName(isInit)
      }

      window.sessionStorage.setItem('name', name)
      setWelcomeTitle()

      return true
    }

    function setWelcomeTitle () {
      const name = getName()

      document.querySelector('#welcome-title').textContent = `Welcome ${name}!`
    }

    function getName () {
      return window.sessionStorage.getItem('name')
    }
  </script>
</body>
</html>
